p {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    max-width: 700px;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 50%;
    transform: translateX(-50%);
    text-indent: 1.5em;
}
.c1 {
    text-align: center;
    padding-top: 30px;
}
.c2 {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;

}